@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin possitionTopLeft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin image($url, $position, $size) {
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin font($family, $color, $size, $transform, $align) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-transform: $transform;
  text-align: $align;
}

.about {
  @include possitionTopLeft(relative, -17vw, 0);
  background-color: white;
  @include dimensions(100vw, 35vw);
  display: flex;

  .img_1 {
    @include possitionTopLeft(relative, 0, 0);
    @include dimensions(50vw, 35vw);
    @include image('../../assets/images/img_1.png', center, 100%);
    z-index: 1;
  }
}

.block {
  @include dimensions(45vw, 45vw);

  h2 {
    @include possitionTopLeft(relative, 1vw, 5vw);
    @include dimensions(35vw, 5vw);

    @include font('Sansation-Bold', #4a4a4a, 3vw, uppercase, left);

    border-bottom: #4a4a4a 0.1vw solid;
  }

  p {
    @include possitionTopLeft(relative, 1vw, 5vw);
    @include dimensions(35vw, 8vw);

    @include font('Sansation-Regular', black, 1.3vw, none, left);
  }

  button {
    @include possitionTopLeft(relative, 2vw, 50%);
    transform: translate(-50%);
    @include dimensions(20vw, 3.5vw);

    border: none;
    border-radius: 0.5vw;
    @include font('Sansation-Regular', white, 1.2vw, uppercase, center);
    background: #177f8b;
  }
}